name: Deploy Frontend

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Build test image
        run: docker build -t myimage -f Dockerfile.dev .

      - name: Run tests
        run: docker run -e CI=true myimage npm test
